%h1= @politician.full_name
.row
  .large-3.columns
    = image_tag(@politician.image) unless @politician.image.blank?
  .large-9.columns
    #{@politician.seniority_to_s.capitalize} #{@politician.gendered_title} from #{@politician.state.name}