!!!
%html
  %head
    %meta{:charset => "utf-8"}
    %title SenaTest
    = stylesheet_link_tag    "application", :media => "all"
    = javascript_include_tag "application"
    = csrf_meta_tags
  %body
    #container
      = image_tag('congressional_seal_225px.png')
      = render partial: 'layouts/partials/header'
      = yield
      / Foundation initialization javascript
      :javascript
        $(document).foundation();